* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  text-align: center;
}

#video {
  height: 500px;
}

.channel-btn {
  padding: 5px 9px;
  margin: 3px;
  background-color: rgb(75, 19, 128);
  letter-spacing: 1px;
  color: white;
  border: none;
  outline: none;
}

.channel-btn:hover {
  background-color: rgb(126, 29, 216);
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
}
